<div class="container">
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <form #registerPreoperacional="ngForm" method="POST" action="">
        <button type="button" [routerLink]="['/navegador']" class="close" aria-hidden="true">&times;
        </button>
        <table id="table" class="table table-info table-responsive{-sm|-md|-lg|-xl}" style="border: groove;text-align: center;">
            <thead>
                <tr>
                    <th colspan="1" rowspan="3">
                        <img src="../../../assets/Img/logo-icon.png" alt="">
                    </th>
                    <th colspan="2" rowspan="3">
                        <h3>

                            {{formulario.name}}
                        </h3>
                    </th>
                    <th colspan="1">
                <tr>
                    <input type="text" placeholder="Consecutivo" disabled="false" class="form-control" >
                </tr>
                <tr >
                    <input  type="text" placeholder="Fecha Vigencia" disabled="false" value="{{ formulario.fechaVigencia }}" class="form-control">
                </tr>
                <tr>
                    <input type="text" placeholder="Version" disabled="false" class="form-control">
                </tr>
                </th>
                </tr>              
            </thead>
            <thead>
                <ng-container >
                    <tr>
                        <th>
                            <input type="text" class="form-control" disabled="false" value="{{cars.clase}}" style="text-transform: uppercase;">
    
                        </th>
                        
                        <th>
                            <input type="text" class="form-control" disabled="false" value="{{cars.modelo}}" style="text-transform: uppercase;">
                        </th>
                        <th>
                            <input type="text" class="form-control" placeholder="Color" disabled="false" value="{{cars.color}}" style="text-transform: uppercase;">
                        </th>
                        <th>
                            <input type="text" class="form-control" #date="ngModel"  value="{{preoperacional.date}}" disabled="false" name="date" [(ngModel)]="preoperacional.date">
                        </th>
                        
                        <!-- <th >
                            <input type="text" class="form-control" placeholder="Empresa*" #business="ngModel" name="business" [(ngModel)]="preoperacional.business" style="text-transform: uppercase;" required>
                        </th> -->
                        
                        
                    </tr>
                    <tr>
                        
                        <th>
                            <input type="text" class="form-control" disabled="false" value="{{cars.placa}}" style="text-transform: uppercase;">
                        </th>
                        <th>
                            <input type="text" class="form-control" disabled="false" value="{{identity.name}}" style="text-transform: uppercase;">
                        </th>
                        <th>
                            <input type="text" class="form-control" placeholder="Cedula*" #cedula="ngModel" name="cedula" [(ngModel)]="preoperacional.cedula" style="text-transform: uppercase;" required>
                        </th>
                        <th>
                            <input type="number" class="form-control" placeholder="Kilometro Inicial*" #kil_start="ngModel" name="kil_start" [(ngModel)]="preoperacional.kil_start" required>
                        </th>
                        <!-- <th>
                            <input type="number" class="form-control" placeholder="Kilometro Final*" #kil_end="ngModel" name="kil_end" [(ngModel)]="preoperacional.kil_end" required>
                        </th> -->
                       
                    </tr>
                   
                        
                        <!-- <th>
                            <input type="number" class="form-control" placeholder="Kilometros De Recorrido*"  placeholder="Recorrido: {{recorrido}} Km" (click)="getRecorrido(preoperacional.kil_start,preoperacional.kil_end)"  required>
                        </th>           -->
<!--                         
                        <th>
                            <input type="text" placeholder="Ubicación*" #location="ngModel" name="location"  [(ngModel)]="preoperacional.location" style="text-transform: uppercase;" required>
                            
                        </th> -->
                </ng-container>    
            </thead>
            <tbody class="bg-light">
                <tr class="bg-info">
                    <th colspan="1">
                        Aspecto
                    </th>
                    <th colspan="1">
                        Descripción
                    </th>
                    <th colspan="2">
                        Estado
                    </th>
                </tr>
                <tr class="bg-secondary">
                    <th>
                       
                    </th>
                    <td>
    
                    </td>
                    <th>
                        Bueno
                    </th>
                    <th>
                        Malo
                    </th>
                </tr>
                <ng-container *ngFor="let pregunta of respuestas ; index as i">
                    <tr >
                        <td>
                            <p>
                               {{pregunta.pregunta}}
                            </p>
                        </td>
                        <td>
                            <p>
                                {{pregunta.descripcion}}
                            </p>
                        </td>
                        <td (click)="darRespuesta(pregunta,1)">
                            <input type="radio" id="valor" name="{{ i }}" value="1"  [checked]="pregunta.valor == 1" >
                        </td>
                        <td (click)="darRespuesta(pregunta,0)">
                            <input type="radio" id="valor" name="{{ i }}" value="0"  [checked]="pregunta.valor == 0" >
                        </td>
                    </tr>
                    <ng-container *ngIf="pregunta.otros">
                        <tr>
                            <td colspan="4">
                                <textarea class="form-control" name="" id="" cols="30" rows="10" name="otros" ngModel="pregunta.otros"></textarea>
                            </td>
                        </tr>
                    </ng-container>
                    
                </ng-container>
                
                
            </tbody>
        </table>
        <button (click)="guardarPreoperacional()" class="btn btn-success">
            Enviar Registro
        </button>
    </form>
</div>

