.btn.btn-success{
    float: right;
    margin-bottom: 30px;
    }
    .table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th {
        border-color: #86cfda;
        border-style: solid;
        vertical-align: middle;
    }
    p{
        display: block;
        text-align: justify;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
    }
td{
    width: 37%;
}
input {
    overflow: visible;
    width: 200px;
}
