<div class="row">
    <section class="noticias">
        <div class="contenedor">
            <h1>Noticias</h1>
                <div class="col-md-6 tab-informativo">
                    <div class="card border-secondary md-6">
                      <div class="row g-0">
                        <div class="col-md-5">
                          <img src="../assets/images/scroll-1.jpg" width="200px" alt="...">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body ">
                            <h5 class="card-title ">Titulo</h5>
                            <p class="card-text">Informacion</p>
                            <p class="card-text"><small class="text-muted">1 de marzo 2021</small></p>
                            <span class="btn btn-primary">Ver Publicacion</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card border-secondary md-6">
                      <div class="row g-0">
                        <div class="col-md-5">
                          <img src="../assets/images/scroll-2.jpg" width="200px" alt="...">
                        </div>
                        <div class="col-md-4">
                          <div class="card-body ">
                            <h5 class="card-title ">Titulo</h5>
                            <p class="card-text">Informacion</p>
                            <p class="card-text"><small class="text-muted">1 de marzo 2021</small></p>
                            
                            <span class="btn btn-primary">Ver Publicacion</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
    
    </section>
</div>

