<div id="main-wrapper">

  <app-header></app-header>
  <app-home></app-home>
 
    <footer>
      <div class="contenedor-footer">
          <div class="content-foo">
              <h4>Phone</h4>
              <p>8296312</p>
              
          </div>
          <div class="content-foo">
              <h4>Email</h4>
              <p>8296312</p>
          </div>
          <div class="content-foo">
              <h4>Location</h4>
              <p>8296312</p>
          </div>
      
          <div class="content-foo">
            <h4>Contactanos</h4>
          <div class="form-group">
            <input type="text"  class="form-controls"  placeholder="Correo Electronico">
          </div>
          <div class="form-group">
            <textarea name="" class="form-controls" id="" cols="50" rows="10" placeholder="Escribe aqui tu inquietud, MMT se pondra en contacto en el menor tiempo posible."></textarea>
          </div>
          <div class="form-group">
            <span class="btn btn-primary">Enviar</span>
          </div>
        </div>
      </div>
      <div class="contenedor-certificaciones">

        <img src="../assets/images/iso-14001.png" class="certificaciones" alt="">
        <img src="../assets/images/iso-9001.png" class="certificaciones" alt="">
        <img src="../assets/images/iso-45001.png" class="certificacion-45001" alt="">
      </div>
      <h2 class="titulo-final">&copy; 2021| MMT Ltda</h2>
  </footer>

</div>
