<!-- <div id="contenedor">
    <button type="button" [routerLink]="['/navegador']" class="close"
    aria-hidden="true">&times;
</button>
<table id="table" class="table table-dark" style="border: groove;text-align: center;">
<thead class="thead thead-light">
<tr>
    <th colspan="1" rowspan="3">
        <img src="../../../assets/Img/logo-icon.png" alt="">
    </th>
    <th colspan="4" rowspan="3">
        HOJA DE VIDA VEHICULOS Y MAQUINARIA
    </th>
    <th colspan="1">
        <tr>
            <input type="text" placeholder="Consecutivo" class="form-control">
        </tr>
        <tr>
            <input type="text" placeholder="Fecha Vigencia" class="form-control">
        </tr>
        <tr>
            <input type="text" placeholder="Version" class="form-control">
        </tr>
    </th>
</tr>
</thead>
<tr>
<th colspan="6" class="table table-primary">
    FICHA TECNICA DEL EQUIPO
</th>
</tr>
<tbody class="table table-secondary">
<tr>
    <th colspan="2">
        <label for="">Clase de Equipo</label>
        <input  type="text" class="form-control" autofocus>
    </th>
    <th colspan="2">
        <label for="">Modelo</label>
        <input id="prueba" class="form-control" type="text">
    </th>
    <th colspan="2">
        <label for="">Serie Chasis</label>
        <input type="text" class="form-control">
    </th>
           
</tr>
<tr>
    <th colspan="2">
        <label for="">Placa</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="2">
        <label for="">Serie de Motor</label>
        <input type="text" class="form-control">
    </th>        
    <th colspan="2">
        <label for="">Año de Fabricación</label>
        <input type="text" class="form-control">
    </th>
</tr>
<tr>
    <th colspan="2">
        <label for="">Fecha de Compra</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="2">
        <label for="">Rendimiento</label>
        <input type="text" class="form-control">
    </th>        
    <th colspan="2">
        <label for="">Tipo Combustible</label>
        <input type="text" class="form-control">
    </th>
    
</tr>
<tr>
    <th colspan="2">
        <label for="">Referencia Aceite</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="2">
        <label for="">Referencia Rodamiento</label>
        <input type="text" class="form-control">
    </th>        
    <th colspan="2">
        <label for="">Referencia Lubricante</label>
        <input type="text" class="form-control">
    </th>
    
</tr>
<tr>
    <th colspan="2">
        <label for="">Referencia Bateria</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="2">
        <label for="">Referencia Llantas</label>
        <input type="text" class="form-control">
    </th>        
    <th colspan="2">
        <label for="">Referencia Correas</label>
        <input type="text" class="form-control">
    </th>
    
</tr>
<tr>
    <th colspan="2">
        <label for="">Referencia Aceite Transmision</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="2">
        <label for="">Referencia Filtro Aire</label>
        <input type="text" class="form-control">
    </th>        
    <th colspan="2">
        <label for="">Foto del Vehiculo</label>
        <input type="file" >
    </th>
    
</tr>
<tr class="table table-primary">
    <th colspan="3">
        SISTEMA PROTECCIÓN ACTIVO
    </th>


    <th colspan="3">
        SISTEMA PROTECCIÓN PASIVO
    </th>
</tr>
<tr>
    <th colspan="3">
        <label for="">Sistema Frenos</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="3">
        <label for="">Cinturones</label>
        <input type="text" class="form-control">
    </th>
        
</tr>
<tr>
    <th colspan="3">
        <label for="">Sistema Dirección</label>
        <input type="text" class="form-control">
    </th>   
    <th colspan="3">
        <label for="">Airbags</label>
        <input type="text" class="form-control">
    </th> 
</tr>
<tr>
    <th colspan="3">
        <label for="">Sistema Suspensión</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="3">
        <label for="">Chasis y Carroceria</label>
        <input type="text" class="form-control">
    </th>                   
</tr>
<tr>
    <th colspan="3">
        <label for="">Neumaticos</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="3">
        <label for="">Cristales</label>
        <input type="text" class="form-control">
    </th>
</tr>
<tr>
    <th colspan="3">
        <label for="">Iluminación</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="3">
        <label for="">Apoya Cabeza</label>
        <input type="text" class="form-control">
    </th>
   
    
                         
</tr>
<tr>
    <th colspan="3">
        <label for="">Control Estabilidad</label>
        <input type="text" class="form-control">
    </th>
    <th colspan="3">
        <label for="">Cargar Hoja de Vida</label>
        <input type="file" placeholder="Subir hoja de vida...." >
       </th>  
</tr>
</tbody>
</table>
<button [routerLink]="['/navegador']"class="btn btn-primary">
Atras
</button>
<button class="btn btn-success">
Guardar Vehiculo
</button>    
</div> -->
<div id="contenedor">
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <form #registerCar="ngForm" (ngSubmit)="onSubmit()" action="">
        <button type="button" [routerLink]="['/navegador']" class="close" aria-hidden="true">&times;
        </button>
        <table (ngSubmit)="onSubmit()" id="table" class="table table-dark" style="border: groove;text-align: center;">
            <thead class="thead thead-light">
                <tr>
                    <th colspan="1" rowspan="3">
                        <img src="../../../assets/Img/logo-icon.png" alt="">
                    </th>
                    <th colspan="4" rowspan="3">
                       REGISTRO DE VEHICULOS Y MAQUINARIA
                    </th>
                    <th colspan="1">
                <tr>
                    <input type="text" placeholder="Consecutivo" disabled="false" class="form-control">
                </tr>
                <tr>
                    <input type="text" placeholder="Fecha Vigencia" disabled="false" class="form-control">
                </tr>
                <tr>
                    <input type="text" placeholder="Version" disabled="false" class="form-control">
                </tr>
                </th>
                </tr>
            </thead>
            <tr>
                <th colspan="6" class="table table-primary">
                    FICHA TECNICA DEL EQUIPO
                </th>
            </tr>
            <tbody class="table table-secondary">
                <tr>
                    <th colspan="2">
                        <label for="">Clase de Equipo</label>
                        <input #clase="ngModel" name="clase" [(ngModel)]="car_register.clase"  type="text"
                            class="form-control" autofocus >
                    </th>
                    <th colspan="2">
                        <label for="">Marca Del Vehiculo</label>
                        <input #marca="ngModel" name="marca" [(ngModel)]="car_register.marca"  type="text"
                            class="form-control" autofocus >
                    </th>
                    <th colspan="2">
                        <label for="">Modelo</label>
                        <input #modelo="ngModel" name="modelo" [(ngModel)]="car_register.modelo" id="prueba"
                            class="form-control" type="text">
                    </th>

                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Serie Chasis</label>
                        <input #chasis="ngModel" name="chasis" [(ngModel)]="car_register.chasis" type="text"
                            class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Placa</label>
                        <input #placa="ngModel" name="placa" [(ngModel)]="car_register.placa" type="text"
                            class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Capacidad Pasajeros</label>
                        <input #capacidad="ngModel" name="capacidad" [(ngModel)]="car_register.capacidad" type="text"
                            class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Serie de Motor</label>
                        <input #serie_motor="ngModel" name="serie_motor" [(ngModel)]="car_register.serie_motor"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Año de Fabricación</label>
                        <input #anio_fabrica="ngModel" name="anio_fabrica" [(ngModel)]="car_register.anio_fabrica"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Fecha de Compra</label>
                        <input #fecha_compra="ngModel" name="fecha_compra" [(ngModel)]="car_register.fecha_compra"
                            type="text" class="form-control">
                    </th>

                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Rendimiento</label>
                        <input #rendimiento="ngModel" name="Rendimiento" [(ngModel)]="car_register.rendimiento"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Tipo Combustible</label>
                        <input #tipo_combustible="ngModel" name="tipo_combustible"
                            [(ngModel)]="car_register.tipo_combustible" type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Referencia Aceite</label>
                        <input #ref_aceite="ngModel" name="ref_aceite" [(ngModel)]="car_register.ref_aceite" type="text"
                            class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Referencia Rodamiento</label>
                        <input #ref_rodamiento="ngModel" name="ref_rodamiento" [(ngModel)]="car_register.ref_rodamiento"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Referencia Lubricante</label>
                        <input #ref_lubricante="ngModel" name="ref_lubricante" [(ngModel)]="car_register.ref_lubricante"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Referencia Bateria</label>
                        <input #ref_bateria="ngModel" name="ref_bateria" [(ngModel)]="car_register.ref_bateria"
                            type="text" class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Referencia Llantas</label>
                        <input #ref_llantas="ngModel" name="ref_llantas" [(ngModel)]="car_register.ref_llantas"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Referencia Correas</label>
                        <input #ref_correas="ngModel" name="ref_correas" [(ngModel)]="car_register.ref_correas"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Referencia Aceite Transmision</label>
                        <input #ref_aceiteTransferencia="ngModel" name="ref_aceiteTransferencia"
                            [(ngModel)]="car_register.ref_aceiteTransmision" type="text" class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <label for="">Referencia Filtro Aire</label>
                        <input #ref_filtroAire="ngModel" name="ref_filtroAire" [(ngModel)]="car_register.ref_filtroAire"
                            type="text" class="form-control">
                    </th>
                    <th colspan="2">
                        <label for="">Foto del Vehiculo</label>
                        <input type="file">
                    </th>
                    <th colspan="2">

                    </th>
                </tr>
                <tr class="table table-primary">
                    <th colspan="3">
                        SISTEMA PROTECCIÓN ACTIVO
                    </th>


                    <th colspan="3">
                        SISTEMA PROTECCIÓN PASIVO
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Sistema Frenos</label>
                        <input #sis_frenos="ngModel" name="sis_frenos" [(ngModel)]="car_register.sis_frenos" type="text"
                            class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Cinturones</label>
                        <input #cinturos="ngModel" name="cinturones" [(ngModel)]="car_register.cinturones" type="text"
                            class="form-control">
                    </th>

                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Sistema Dirección</label>
                        <input #sis_direccion="ngModel" name="sis_direccion" [(ngModel)]="car_register.sis_direccion"
                            type="text" class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Airbags</label>
                        <input #airbags="ngModel" name="airbags" [(ngModel)]="car_register.airbags" type="text"
                            class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Sistema Suspensión</label>
                        <input #sis_suspension="ngModel" name="sis_suspension" [(ngModel)]="car_register.sis_suspension"
                            type="text" class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Chasis y Carroceria</label>
                        <input #cahsis_carroceria="ngModel" name="chasis_carroceria"
                            [(ngModel)]="car_register.chasis_carroceria" type="text" class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Neumaticos</label>
                        <input #neumaticos="ngModel" name="neumaticos" [(ngModel)]="car_register.neumaticos" type="text"
                            class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Cristales</label>
                        <input #cristales="ngModel" name="cristales" [(ngModel)]="car_register.cristales" type="text"
                            class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Iluminación</label>
                        <input #iluminacion="ngModel" name="iluminacion" [(ngModel)]="car_register.iluminacion"
                            type="text" class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Apoya Cabeza</label>
                        <input #apoya_cabeza="ngModel" name="apoya_cabeza" [(ngModel)]="car_register.apoya_cabeza"
                            type="text" class="form-control">
                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <label for="">Control Estabilidad</label>
                        <input type="text" #control_estabilidad="ngModel" name="control_estabilidad"
                        [(ngModel)]="car_register.control_estabilidad" class="form-control">
                    </th>
                    <th colspan="3">
                        <label for="">Cargar Hoja de Vida</label>
                        <input type="file" placeholder="Subir hoja de vida....">
                    </th>
                </tr>
            </tbody>
        </table>
        <button [routerLink]="['/navegador']" class="btn btn-primary">
            Atras
        </button>
        <button type="submit" class="btn btn-success">
            Guardar Vehiculo
        </button>
    </form>
</div>