  <div id="carouselExampleFade" class="carousel slide carousel-fade carrusel" data-bs-ride="carousel">
    <div class="carousel-inner  ">
      <div class="carousel-item active">
        <img src="../assets/images/principal.jpg" class="d-block w-100" height="540px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/scroll-2.jpg" class="d-block w-100" height="540px" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/images/scroll-1.jpg" class="d-block w-100"  height="540px"alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="row" >
    <div class="col-md-5" >
      <div class="container-fluid ">
        
        <div class="form-check ">
         
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            2019
            <div class="linea">
              <div class="card card-line-time animate__animated animate__bounceInRight">
                <p class="line-time">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                 </p> 
              </div>
            
          </div>
          </label>
          
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            2018
            <div class="linea">
              <!-- animate__animated animate__backInRight -->
              <div class="card card-line-time animate__animated animate__bounceInRight">
                <p class="line-time">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium omnis minima sunt voluptatem provident, similique suscipit non corporis enim nisi mollitia labore doloremque aperiam repellat porro nostrum quasi commodi amet.
                 </p> 
              </div>
            </div>
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            2017
            <div class="linea">
            
            </div>
          </label>
        </div>
        <div class="form-check ">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            2015
            <div class="linea">
            
            </div>
          </label>
        </div>
      </div>
  
    </div>
    <div class="col-md-6 tab-informativo">
      <div class="card border-secondary md-6">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="../assets/images/scroll-1.jpg" width="200px" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body ">
              <h5 class="card-title ">Titulo</h5>
              <p class="card-text">Informacion</p>
              <p class="card-text"><small class="text-muted">1 de marzo 2021</small></p>
              <span class="btn btn-primary">Ver Publicacion</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-secondary md-6">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="../assets/images/scroll-2.jpg" width="200px" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body ">
              <h5 class="card-title ">Titulo</h5>
              <p class="card-text">Informacion</p>
              <p class="card-text"><small class="text-muted">1 de marzo 2021</small></p>
              
              <span class="btn btn-primary">Ver Publicacion</span>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </div>
  <div class="row indicadores">
      
             
            
         
      <div class="col-md-2">
        <span class="">
          <img width="100px" src="../assets/images/calidad.png" alt="">
            <h4>Calidad</h4>
            <div class="calidad"></div>
      </span>
    
    </div>
    
      <div class="col-md-2  ">
        <span class="glyphicon glyphicon-road ">
            <h4>Dias sin Acdidentalidad</h4></span>
  
      </div>
      <div class="col-md-2 ">
        <span class="glyphicon glyphicon-check">
          <h4>Satisfacción</h4>
        </span>
      </div>
      <div class="col-md-2">
        <span class="glyphicon glyphicon-globe">
            <h4>Experiencia</h4></span>
      </div>
    
  </div> 
