<header id="container" class="navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="glyphicon glyphicon-th-list"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">

        <a class="navbar-brand" href="">
                    <img class="icono" src="assets/images/logo-icon.png" alt="Logo Empresarial">
                    <!-- <p class="slogan">Técnicos en Montajes Mecánicos y Civiles Ltda</p> -->
        </a>

        <ul class="nav">
            <li>
                   <a href="">
                       <span class="glyphicon glyphicon-home">
                           <h4>Home</h4></span>
                   </a>
            </li>
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-phone"><h4>Contact</h4></span>

                </a>
            </li>
            <li>
                <a href="">
                <span class="glyphicon glyphicon-list-alt"><h4>About</h4></span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-briefcase" href=""><h4>Services</h4></span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="glyphicon glyphicon-user">
                        <h4>Login</h4>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</header>