<section class="noticias">
    <div class="row">
        <div class="col-md-12">
            <div class="container titulo-seccion">
                <h1>Noticias Recientes</h1>
                <hr>
            </div>
            <div class="container contenedor-noticias">

                <div class="col-md-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                        <h1>Hola</h1>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/mmt-fondo.jpg" class="card-img-top img-noticia" alt="">
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eos. Placeat non nostrum
                            commodi, officiis aspernatur dolore, quasi facere corrupti culpa ratione similique nobis eum
                            maiores, ullam accusamus id et?

                        </p>
                        <div class="card-footer">
                            Asunto de la noticia.
                        </div>

                        <span class="btn btn-primary">Ver más</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                        <h1>Hola</h1>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/mmt-fondo.jpg" class="card-img-top img-noticia" alt="">
                        </div>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eos. Placeat non nostrum
                            commodi, officiis aspernatur dolore, quasi facere corrupti culpa ratione similique nobis eum
                            maiores, ullam accusamus id et?

                        </p>
                        <div class="card-footer">
                            Asunto de la noticia.
                        </div>

                        <span class="btn btn-primary">Ver más</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                        <h1>Hola</h1>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/mmt-fondo.jpg" class="card-img-top img-noticia" alt="">
                        </div>

                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eos. Placeat non nostrum
                            commodi, officiis aspernatur dolore, quasi facere corrupti culpa ratione similique nobis eum
                            maiores, ullam accusamus id et?

                        </p>
                        <div class="card-footer">
                            Asunto de la noticia.
                        </div>

                        <span class="btn btn-primary">Ver más</span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="sellos">
    <div class="row">
        <div class="col-md-12">
            <div class="container container-sellos">
                <h1>Sellos y Certificaciones</h1>
                <hr>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/proyectos.svg" title="Proyectos De MMT" class="sellos" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/qhse.png" class="sellos" title="HSE" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/trofeo.svg" title="Logros" class="sellos" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/licencias.svg" title="Logros" class="sellos" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
