<section class="noticias">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h2 class="titulo">Noticias Recientes</h2>
                <hr>
            </div>
            <div class="container contenedor-noticias">

                <div class="col-sm-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                            <h3>Premio De Excelencia SURA</h3>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/Premio-Excelencia.jpeg" class="card-img-top img-noticia" alt="">
                        </div>
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Noticia</p>
                        </div>
                        <p>
                            RECONOCIMIENTO SURA 2019
                            240 Mil empresas participantes

                            650 Auditorías realizada a nivel nacional

                            177 Empresa preseleccionados (fase regional)

                            91 Empresa con Invitación a la ceremonia de premiación

                            Y tan solo 17 empresa ganadoras en las distintas categorías. Cifras que nos permiten decir
                            con gran alegría, compromiso y responsabilidad

                        </p>
                        <div class="card-footer">
                            <h3 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
                                <!-- ¡GANADORES DEL PREMIO RECONOCIMIENTO SURA CATEGORÍA EMPRESA SEGURA Y SALUDABLE 2019! -->

                            </h3>
                        </div>

                        <span class="btn btn-primary">Ver más</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                        <h1>Hola</h1>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/mmt-fondo.jpg" class="card-img-top img-noticia" alt="">

                        </div>
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Noticia</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eos. Placeat non nostrum
                            commodi, officiis aspernatur dolore, quasi facere corrupti culpa ratione similique nobis eum
                            maiores, ullam accusamus id et?

                        </p>
                        <div class="card-footer">
                            Asunto de la noticia.
                        </div>

                        <span class="btn btn-primary">Ver más</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="flag">Noticia</span>
                    <div class="card card-noticias border border-0">
                        <h1>Hola</h1>
                        <span>
                            2 de mayo 2021
                        </span>
                        <div class="card-body">
                            <img src="../assets/images/mmt-fondo.jpg" class="card-img-top img-noticia" alt="">

                        </div>
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Noticia</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, eos. Placeat non nostrum
                            commodi, officiis aspernatur dolore, quasi facere corrupti culpa ratione similique nobis eum
                            maiores, ullam accusamus id et?

                        </p>
                        <div class="card-footer">
                            Asunto de la noticia.
                        </div>

                        <span class="btn btn-primary">Ver más</span>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- SECCION DE SELLOS Y CERTIFICACIONES -->
<section class="sellos-seccion">
    <div class="row ">
        <div class="col-md-12">
            <div class="container container-sellos">
                <div class="container">
                    <h2 class="titulo">Sellos y Certificaciones</h2>
                    <!-- <hr> -->
                </div>

                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/proyectos.svg" title="Proyectos De MMT" class="sellos" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Proyectos De MMT</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/qhse.png" class="sellos" title="HSE" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>HSE</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/trofeo.svg" title="Logros" class="sellos" alt="">
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Logros</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <!-- hsq, proyectos, imagen corporativa, logros,certificaciones,norsok sgs -->
                        <img src="../assets/images/licencias.svg" title="Certificaciones de MMT Ltda" class="sellos"
                            alt="">
                        <div class="hover-galeria">
                            <img src="../assets/images/icono1.png" alt="">
                            <p>Certificaciones de MMT Ltda</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="contenedor-body sobre-nosotros">
    <h2 class="titulo">Nuestro Alcance</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="../assets/images/alcance.svg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span> <a href="">Obras mecánicas</a> </h3>
            <p>Diseño, construcción y mantenimiento de líneas de flujo y conducción para transporte de crudo y gas;
                diseño y construcción de cruces especiales de perforación dirigida para protección de rondas de cuerpos
                de agua; diseño y construcción de manifolds, trampas de despacho y recibo de herramientas de inspección;
                modificación y reparación de tanques; mantenimiento de válvulas y actuadores; prefabricados; hot-tap;
                sandblasting, pintura y control de calidad de espesores y anclaje; pruebas hidrostáticas; diseño y
                construcción de obras eléctricas y de instrumentación relacionadas con obras mecánicas y civiles; diseño
                y construcción de obras de protección catódica; diseño y construcción de sistemas contra incendios</p>
            <h3><span>2</span><a href="">Obras civiles</a> </h3>
            <p>Diseño y construcción de fundaciones para las trampas de despacho y recibo, tanques, bombas, equipos,
                casetas, (excavación mecánica y manual; concreto para fundaciones); construcción y mantenimiento de vías
                y locaciones; diseño y construcción de obras de protección geotécnica; construcción de obras de arte;
                diseño y construcción de obras de Arquitectura.</p>
            <h3><span>3</span> <a href="">Servicios</a> </h3>
            <p>Suministro de personal profesional y técnico para labores operativas;
                servicio de Transporte terrestre de carga por carretera y alquiler de equipos para el sector de
                hidrocarburos
            </p>
            <!-- <h3><span>4</span>Servicios</h3>
            <p>Suministro de personal profesional y técnico para labores operativas;</p> -->
        </div>
    </div>
</section>
<!-- <section>
    <div class="row">
        <div class="col-md-12">
        <div class="container">
            <hr>
            <img src="../assets/images/alcance.svg" class="ilustracion-alcance" alt="">
            </div>
        </div>
    </div>
</section> -->