<div class="content">
    <table id="table-drivers" class="table table-bordered">
      <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo Electronico</th>
            <th>Rol De Usuario</th>
            <th colspan="2">Acciones</th>
        </tr>
      </thead> 
      <tbody>
        <tr *ngFor="let driver of drivers">
          <th style="text-transform: uppercase;">{{ driver.name }}</th>
          <th style="text-transform: uppercase;">{{driver.surName}}</th>
          <th>{{driver.email}}</th>
          <th style="text-transform: uppercase;">{{driver.role}}</th>

          <th class="Editar"><a title="Editar" [routerLink]="['/edit-user',driver._id]">*</a></th>
          <th class="Eliminar" ><a (click)="onDeleteUser(driver._id)" title="Eliminar">-</a></th>

       </tr> 
      </tbody>
      
    </table>

    <button [routerLink]="['/navegador']" class="btn btn-primary m-5">Volver</button>
    <button [routerLink]="['/register-user']" class="btn btn-success m-5">Añadir Conductor</button>
</div>
