<app-bubble-user></app-bubble-user>

<div id="content" *ngIf="identity && identity.role == 'FUNCIONARIO'">
    <form id="editar-usuario" #userRegisterForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
        <div class="card">
            <div class="card-body">
                <button type="button" [routerLink]="['/navegador']" [routerLinkActive]="['actived']" class="close"
                aria-hidden="true">&times;</button>
            <h3>{{titulo}}</h3>
            <div *ngIf="alertMessage">
                <div class="alert alert-info">
                    {{alertMessage}}
                </div>
            </div>
            <p>
                <input type="text" class="form-control" #name="ngModel" name="name" [(ngModel)]="user_register.name"
                    placeholder="Primer Nombre" required>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            </p>
            <p>
                <input type="text" class="form-control" #surName="ngModel" name="surName"
                    [(ngModel)]="user_register.surName" placeholder="Primer Apellido" required>
                <span *ngIf="!surName.valid && surName.touched">
                    El apellido es obligatorio
                </span>
            </p>
            <p>
                <input type="text" class="form-control" #email="ngModel" name="email" [(ngModel)]="user_register.email"
                    placeholder="Correo Electronico" required>
                <span *ngIf="!email.valid && email.touched">
                    El email es obligatorio
                </span>
            </p>
            <p>
                <input type="password" class="form-control" #password="ngModel" name="password"
                    [(ngModel)]="user_register.password" placeholder="Contraseña" required>
            </p>
            <p>
                <select class="form-control" #role="ngModel" name="role" [(ngModel)]="user_register.role">
                    <option  value="FUNCIONARIO">FUNCIONARIO</option>
                    <option  value="CONDUCTOR">CONDUCTOR</option>
                </select>
            </p>
            <p >
                <select class="form-control" [disabled]="!user_register.role" #car="ngModel" name="car" [(ngModel)]="user_register.car">
                     <option *ngFor="let car of cars"  value="{{car._id}}">{{car.clase}}</option>
                </select>
            </p>
            <input type="submit" name="" id="" data-toggle="modal" data-target="#exampleModal3" class="btn btn-primary m-3"
                value="Registrar Usuario">
            <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">Enviar Registro</button> -->
            <input type="button" name="" id="" [routerLink]="['/navegador']" class="btn btn-danger m-3" value="Cancelar">
        
            </div>
        </div>
       </form>
</div>