<div class="back">
    <a [routerLink]="['']" (click)="logout()">
        h
    </a>
</div>
<div  id="content">
    <div id="login" *ngIf="level == '1'">
            <h2>Bienvenido</h2>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()"class="form-group" action="">
                <input id="input" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" type="email" placeholder="Correo electronico" required>
                <div class="fixed"></div>
                <span *ngIf="!email.valid && email.touched">
                    El correo es obligatorio
                </span>
                <input id="input" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" type="password" placeholder="Contraseña" required>
                <div class="fixed"></div>
                <span *ngIf="!password.valid && password.touched">
                    La contraseña es obligatoria
                </span>
                <button type="submit" class="btn btn-primary form-control">Ingresar</button>
            </form>
    </div>
    <div id="login" *ngIf="level == '2'">
        <h2>Bienvenido</h2>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form-group" action="">            
            <input id="input" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" type="text" placeholder="Primer Nombre" required>
                <div class="fixed"></div>
                <span *ngIf="!name.valid && name.touched">
                    El nombre es obligatorio
                </span>
            <input id="input" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" type="password" placeholder="Cedula de Ciudadania" required>
            <div class="fixed"></div>
                <span *ngIf="!password.valid && password.touched">
                    La cedula es obligatoria
                </span>
            <button type="submit" href=""class="btn btn-primary form-control">Ingresar</button>
        </form>
</div>
</div>
