<div *ngIf="identity">
    <ul class="cars-list" >
        <li  class="col-9 car-item">
            <div class="car-image">
                <img class="card-img-top" src="{{url +'get-image-car/'+car.image}}" alt="Imagen del artista">
            </div>
            <div class="car-name">
                <a [routerLink]="['/create-preoperacional',identity._id,formulario._id]"  style="text-transform: uppercase;">
                    {{car.clase}}
                </a>
                <p style="text-transform: capitalize;">
                    {{car.marca}}
                </p>
                <p style="text-transform: capitalize;">
                    {{car.modelo}}
 
                </p>
                <p style="text-transform: uppercase;">
                    {{car.placa}}
                </p>
            </div>
        </li>
    </ul>  
</div>
<button [routerLink]="['/navegador']" class="btn btn-primary">Volver</button>
    