
@font-face {
  font-family:"websymbols-regular-webfont" ;
  src: url('../../../assets/fonts/websymbols-regular-webfont.eot');
  src: url('../../../assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'), 
  url('../../../assets/fonts/websymbols-regular-webfont.woff') format('woff'), 
  url('../../../assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
  url('../../../assets/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
  font-weight:normal;
  font-style: normal;
}
.container-fluid {
  width: 100%;
  min-width: 1230px;
  margin-top: 30px;

}
.cars-list .car-image{
    height: 69%;
    overflow: hidden;
}
.cars-list .car-image img
{
    height:100%;  
    
}
.car-name{
    background: #222326;

}
.car-name a{
    color:white;
    margin-left: 5px;
}
.car-name p{
color: white;
margin-left: 5px;
}
p{
    padding: 0px;
    margin: 0px;
}
button{
    margin-left: 20px;
    margin-bottom: 30px;
}
/* .btn-success{
    float: right;
} */
#container{
    display: flex;
    margin:10px;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.cars-list{
    border: 1px solid #ccc;
    width: 350px;
    height: 430px;
    padding: 2px;
    margin: 5px;
    box-shadow: 3px 3px 3px 1px #cccc;
}
.seguro{
    display: block;
    margin-top: -30px;
}
.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
  }
  
  .wrap > h2{
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 0px;
  }
  
  .wrap > h2:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 20px 0;
  }
  
  .store-wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  
  .category_list{
    display: flex;
    flex-direction: column;
    width: 18%;
  } 
  
  .category_list .category_item{
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #E84C3D;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  
  .category_list .ct_item-active{
    background: #2D3E50;
  }
  .card-text:last-child {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column;
}
  /* PRODUCTOS ============*/
  
  .products-list{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .products-list .product-item{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    height: 390px;
    transition: all .4s; 
  }
  .product-mas{
    width: 30%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgb(247 244 244 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: all .4s;
    height: 390px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
  }
  .products-list .product-item img{
    width: 100%;
  }
  
  .products-list .product-item a{
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;
    height: 390px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  
  /* RESPONSIVE */
  
  @media screen and (max-width: 1100px){
    .products-list .product-item{
      width: 30.3%;
    }
  }
  
  @media screen and (max-width: 767px){
    .category_list,
    .products-list{
      width: 100%;
    }
    .category_list{
      flex-direction: row;
      justify-content: space-between;
    }
  
    .category_list .category_item{
      align-self: flex-start;
      width: 15%;
      font-size: 14px;
    }
  
    .products-list .product-item{
      margin-left: 4.5%;
    }
  
    .products-list .product-item:nth-child(3n+1){
      margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 700px){
    .category_list{
      flex-direction: column;
    }
    .category_list .category_item{
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 600px){
  
    .products-list .product-item{
      width: 47.5%;
    }
  
    .products-list .product-item:nth-child(3n+1){
      margin-left: 4.5%;
    }
  
    .products-list .product-item:nth-child(2n+1){
      margin-left: 0px;
    }
  
  }
  
  @media screen and (max-width: 350px){
    .products-list .product_item{
      width: 100%;
      margin-left: 0px;
    }
  }
  #link{
    text-decoration: none;
    background: linear-gradient(45deg, black, transparent);
  }
  .target{
    display: flex;
    flex-direction: column;
  }
  span{
    font-size: 12px;
  }
  span >h6{
    float: right;
    font-size: 12px;
    margin-right: 50px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .add{
    font-family:"websymbols-regular-webfont" ;
    font-size: 100px;
    cursor: pointer;
  }
  #add{
    border: none;
    box-shadow: none;
    text-decoration: none;
    cursor: pointer;
  }