
.cars-list .car-image{
    height: 69%;
    overflow: hidden;
}
.cars-list .car-image img
{
    height:100%;  
    
}
.car-name{
    background: #222326;

}
.car-name a{
    color:white;
    margin-left: 5px;
}
.car-name p{
color: white;
margin-left: 5px;
}
p{
    padding: 0px;
    margin: 0px;
}
button{
    margin-left: 20px;
    margin-bottom: 30px;
}
.btn-success{
    float: right;
}
#container{
    display: flex;
    margin:10px;
    flex-wrap: wrap;
    justify-content: space-around;
    

}
.cars-list{
    border: 1px solid #ccc;
    width: 350px;
    height: 430px;
    padding: 2px;
    margin: 5px;
    box-shadow: 3px 3px 3px 1px #cccc;
}
.seguro{
    display: block;
    margin-top: -30px;
}