<div class="container">
    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>
    <div class="listado">
        <ul>
            <li *ngFor="let preo of preoperacionales">
                <p>]</p> <a href="">Preoperacional-{{preo.date}}</a>
                <button (click)="downloadExcel(preo)" class="btn btn-success btn-sm ml-2">Descargar</button>
            </li>
        </ul>
    </div>
    <button [routerLink]="['/get-car/1']" class="btn btn-primary mt-3">
        Atras
    </button>
</div>

