<section class="historia">
    <div class="container">
        <div class="row">
            <div class="col-md-12 historia-contenido">
                <h1>
                    HISTORIA DE TECNICOS EN MONTAJES
                </h1>
                <h1>
                    MECANICOS Y CIVILES LTDA (MMT).
                </h1>
                <div class="imagen-historia">
                    <img src="../assets/images/imagen-historia.jpg" alt="">
                </div>
                <h2>
                    Primeros pasos
                </h2>
                <p class="parrafo-historia">
                    

Esta historia inicia un 27 de febrero de 2009. Dos emprendedores analizaron el entorno y buscaron estrategias para responder y solucionar algunas de las necesidades de la región.  y crearon MMT LTDA,

Desde sus inicios se especializaron en la prestación de servicios para el sector energético específicamente en el sector de Hidrocarburos en las actividades Mecánicas y Civiles
</p>
<h2>
Fundación
</h2>



<p class="parrafo-historia">
    El 3 de marzo de 2009: Es creada legalmente con constitución de persona jurídica como Técnicos en Montajes Mecánicos y civiles, 
    con residencia principal en Maní Casanare.
    16 de octubre de 2013, Se crea la primera certificación Ruc: Con esta evaluación se busca 
    anualmente mediante gestión desarrollada en el tema de Seguridad, Salud en el trabajo y Ambiente, 
    obtener un valor cuantitativo de la labor y los resultados obtenidos por las empresas y de sus 
    trabajadores en el cumplimiento de la normatividad, buenas prácticas en SSTA y excelencia operacional 
    superando las expectativas de vida laboral en Colombia.

    14 de agosto del 2015 Logramos nuestra primera certificación bajo las normas ISO 9001:2008, 
    ISO 14001:2004, ISO 18001:2005 y Norsok.
    
    MMT entendió y analizó que la obtención de certificaciones internacionales era de vital importancia 
    para la empresa bajo el modelo de mejora continua y de gestión de calidad, medio ambiente y seguridad 
    y salud en el trabajo. Sea cual sea el sector, las corporaciones deben asegurarse de cumplir procesos 
    que garanticen la seguridad de sus trabajadores, armonicen con el medio ambiente y ofrezcan productos 
    de calidad.
</p> 
    
<h2>
Crecimiento de Empresarial
</h2>

<p class="parrafo-historia">
    El 10 de marzo de 2015 Mediante la adjudicación de contratos CNE-042-2015, CNE-009-2015 y GEO-043-20 se realiza expansión de los servicios a nivel nacional a desarrollar actividades en los departamentos de Córdoba y sucre. O que hizo también ampliar nuestro portafolio de servicios.
    Obras civiles: Diseño y construcción de obras de arte y arquitectura (Edificaciones, locaciones, adecuación de interiores) diseño, construcción de fundaciones para las trampas de despacho y recibo, tanques, bombas, equipos, casetas, (excavación mecánica y manual, concreto para fundaciones); construcción y mantenimiento de vías y locaciones; diseño y construcción de obras de protección geotécnica;
    Obras mecánicas: Diseño, construcción y mantenimiento de líneas de flujo y conducción para transporte de crudo y gas; diseño y construcción de cruces especiales de perforación dirigida para protección de rondas de cuerpos de agua; diseño y construcción de manifolds, trampas de despacho y recibo de herramientas de inspección; modificación y reparación de tanques; mantenimiento de válvulas y actuadores; prefabricados; hot-tap; sandblasting, pintura y control de calidad de espesores y anclaje; pruebas hidrostáticas; diseño y construcción de obras eléctricas y de instrumentación relacionadas con obras mecánicas y civiles, diseño y construcción de obras de protección catódica; diseño y construcción de sistemas contra incendios.
    Servicios: Suministro de personal profesional y técnico para labores operativas; servicio de suministro y alquiler de equipos para el sector de hidrocarburos.
</p>

<h2>
Ampliamos nuestra operación
</h2>

<p class="parrafo-historia">
    El 20 de agosto de 2016 Se realiza actualización a las nuevas versiones de la norma ISO 9001: 2015 e ISO 14001: 2015 y se continúa con las certificaciones de la norma OHSAS 18001:2005 y NORSOK S-006. Las certificaciones ISO se fundamentan en la mejora continua de los procesos. Bajo ese concepto, nos convertimos en una de las primeras empresas de la región en lograr la certificación en las operaciones con la Norma ISO 9001:2015 de Gestión de Calidad, Norma ISO 14001:2015 de Gestión Ambiental.
    El 14 de febrero de 2018 Nos Habilitados por el Ministerio de Transporte para prestar servicios de Transporte automotor de carga a nivel nacional con Resolución 008 del 14 de febrero 2018.
    El 25 de mayo de 2019. Se realiza actualización a las nuevas versiones de la norma ISO 45001:2018 Gestión de Seguridad y Salud Ocupacional. Y se continúa con las certificaciones y versiones existente como son ISO 9001:2015 e ISO 14001: 2015 y NORSOK s-006.
</p>

<h2>
    Reconocimiento nacional:
</h2>
<p class="parrafo-historia">
    El 14 de noviembre de 2019: MMT LTDA, es merecedora del premio nacional, RECONOCIMIENTO SURA CATEGORÍA EMPRESA SEGURA Y SALUDABLE 2019.
    El 15 de mayo de 2020: En un año atípico bajo pandemia logramos certificarnos nuevamente bajo las normas ISO:2015, ISO 14001:2015 e ISO 45001: 2018 y NORSOK. Y así completar 8 de las certificaciones de las normas técnicas, de manera continua.                   
</p>
                 <h1>
                     QUIEN ES MMT Ltda
                 </h1>
                 <img src="../assets/images/logo-icon.png" alt="">
                 <p>
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, perferendis itaque. Ad culpa, quibusdam corrupti vel odio mollitia a quam ipsam totam laboriosam repellendus vero, quas esse. Eum, architecto facilis!
                     Adipisci ipsa explicabo reprehenderit recusandae perferendis consequuntur voluptatem architecto labore repellat fugit! Officia saepe at, quam similique impedit, labore, et eius illum quis doloribus ipsam iure quidem? Quidem, facilis neque.
                     Accusantium quidem pariatur quae, debitis autem quod modi commodi suscipit placeat neque in nemo dolorum repellat laboriosam minus similique voluptatem itaque assumenda expedita libero. Id, iste. Inventore maxime labore itaque.
                     Amet repellendus enim, tenetur quod rem, ullam nostrum debitis omnis eum error provident harum consequatur reiciendis eaque incidunt perferendis culpa pariatur voluptatibus ea consectetur deserunt praesentium odit? Consequatur, rem totam.
                     Cumque, quia cum nemo laborum error suscipit excepturi necessitatibus, deserunt recusandae eos saepe expedita eligendi perspiciatis consequuntur. Expedita dolores quia rerum laborum, aliquid nobis iste laboriosam quis aperiam eveniet. Culpa.
                     Eveniet consequatur minus, optio, dolorem odio ad rem quidem repudiandae repellendus aut quod vel voluptatem ipsa. Nihil quis officiis consequuntur, optio sit soluta minima, quas beatae quo, voluptas necessitatibus totam!
                     Consectetur consequuntur magnam sed vero quam. Magni ullam culpa laborum animi ratione corrupti quod veritatis harum. Ducimus dignissimos expedita nam saepe aperiam quo sed deserunt? Pariatur magnam cupiditate est cum.
                     Ut, eaque aliquid exercitationem dolores sapiente cum, voluptas error ratione est hic maiores cupiditate nobis laborum culpa, modi eligendi? Nulla error maxime debitis recusandae deserunt quo tempore sed modi! Voluptas?
                     Dicta velit ducimus quasi amet molestias, voluptates in temporibus labore eveniet commodi corrupti optio repellat quaerat, unde voluptas! Repellat labore facilis nemo iure iste tempora a, aspernatur error repudiandae nesciunt.
                     Reprehenderit libero doloribus quidem explicabo dolor laboriosam excepturi id fugit vel repellendus blanditiis amet provident dignissimos modi molestiae consequuntur, officia reiciendis et porro ipsa! Eligendi odio obcaecati iure aut reprehenderit!
                     Obcaecati incidunt repellendus consequuntur velit in iusto necessitatibus, ullam eaque non? Sapiente quaerat veniam, accusamus culpa quis eveniet maiores libero, est sunt eum labore explicabo, totam id consequatur blanditiis voluptate!
                     Dolore, quod voluptatibus labore quisquam eius quia non nam eaque perferendis repellendus doloribus. Voluptatibus modi deserunt eligendi fugiat debitis repellat, nam, deleniti veniam suscipit dolor maiores vero, quia similique quod!
                     Quam ad necessitatibus quibusdam earum optio incidunt, quia pariatur. Aspernatur laboriosam officiis, voluptates odit itaque doloribus voluptas veritatis, saepe aliquid qui maxime nulla ullam? Iure voluptas praesentium repellat soluta ex!
                     Cumque perspiciatis soluta voluptatum libero fugit vel impedit magni in nihil dolores eos blanditiis debitis facilis a inventore, esse officiis placeat ex iste odit. Ducimus ad velit earum nesciunt iste.
                     Laudantium praesentium nostrum, eius inventore sint quaerat quae dolorum perferendis. Repudiandae deserunt corrupti, eaque qui necessitatibus eum sit dolore quibusdam vero voluptatibus soluta unde facilis ab, eligendi eveniet tenetur quaerat!
                     Sed voluptatum pariatur rem molestias autem amet nihil quae dicta hic obcaecati! Reprehenderit recusandae dolor porro mollitia at veritatis modi quas ducimus totam odio, tempore repellendus, perspiciatis earum, laborum aspernatur!
                     Repellat qui tempora alias cupiditate ullam laboriosam repudiandae voluptatum mollitia quas sit natus sunt distinctio quos amet, veritatis provident repellendus suscipit minus placeat iste nam. Dolor officia accusantium commodi repellat.
                     Repellat alias deserunt, expedita doloremque quae mollitia magni vitae qui quas impedit provident nesciunt officia id, molestias repudiandae vel nobis, vero numquam dignissimos veniam reiciendis eligendi ipsum! Aliquid, ducimus quidem!
                     Voluptatem, debitis quia! Atque, rerum mollitia nemo fugit quo minima esse numquam cumque consectetur ipsa dolores deserunt! Quisquam consequuntur saepe dicta, veritatis suscipit fugit aliquam repellat modi numquam reiciendis obcaecati.
                     Doloremque a exercitationem ipsam, quis ipsum quas hic, sapiente voluptatibus id provident, facilis architecto? Nesciunt suscipit est cumque rem quos dicta quia rerum, totam quod obcaecati. Quos facilis doloremque cumque.
                 </p>
                 <h1>
                     PRINCIPIOS Y VALORES
                 </h1>
                 <img src="../assets/images/valores.jpg" alt="">
                 <div class="contenido-textos">
                    <h3><span>1</span> <a href="">Respeto:</a> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi quo minus, porro sed, facilis impedit maiores consequuntur aliquam aspernatur provident nemo ad eaque asperiores nihil itaque doloribus assumenda eius.</p>
                </div>
                <div class="contenido-textos">
                    <h3><span>2</span> <a href="">Respeto:</a> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi quo minus, porro sed, facilis impedit maiores consequuntur aliquam aspernatur provident nemo ad eaque asperiores nihil itaque doloribus assumenda eius.</p>
                </div>
                <div class="contenido-textos">
                    <h3><span>3</span> <a href="">Respeto:</a> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia animi quo minus, porro sed, facilis impedit maiores consequuntur aliquam aspernatur provident nemo ad eaque asperiores nihil itaque doloribus assumenda eius.</p>
                </div>
            </div>
        </div>
    </div>
</section>