*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.2;
}
/* Header */
header{
  position: relative;
width: 100%;
z-index: 1;
background-size: cover;
background-attachment: fixed; 
}
/* Fondo del header difuminado con imagen */
  /* background: #005AA7;
background: -webkit-linear-gradient(to bottom, #FFFDE4,hsla(208, 100%, 33%, 0.527)),url(../images/scroll-1.jpg);  
background: linear-gradient(to bottom, #FFFDE4, hsla(208, 100%, 33%, 0.527)),url(../images/scroll-1.jpg);  */


  /* height: 600px; */
/* background-color:white;
  box-shadow:4px 7px 11px 2px #4a6ee4;
-moz-box-shadow:4px 7px 11px 2px #4a6ee4;
-webkit-box-shadow:4px 7px 11px 2px #4a6ee4;
  padding: 0px;
  position: fixed;
  z-index: 100; */
.menu{
  justify-content: flex-end;
  display: flex;
  background: hsl(180deg 82% 36% / 75%);
  width: 100%;
  padding: 0px;
}
.search{
  width: 700px;
  margin-left: 300px;
  margin-top: 50px;
}
.glyphicon.glyphicon-search.icon-search{
  font-size: 40px;
}
.contenedor{
  position: absolute;
  z-index: 2;
  width: 100%;
}
.card{
  border: none;
  margin-bottom: 60px;
}
.slogan{
  margin-top: 200px;
  padding-bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn .btn-buscar{
  border: 1px solid #005AA7;
  font: bold;
  color:#ffffff ;
}
nav{
  justify-content: center;
  align-items: center;
  text-align:center;
  padding: 30px 50px 0 0;
  position: absolute;
}
nav > span > a{
  color: #fbfbfb;
  font-weight: 300;
  font-size: 15px;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration:none;
  margin-right: 100px;
}
nav > span > a:hover{
  color: #fbfbfb;
  background: hsla(240, 97%, 48%, 0.589);
  text-decoration:none;
}
nav >#dropdownMenuButton.dropdown.dropdown-menu > a{
  color: #fbfbfb;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration:none;
  margin-right: 100px;
}
.wave{
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 3;
}
.icono{
  height: 40px;
  padding-right: 50px;
}
button.btn.btn-primary{
  width: 100px;
}
input.form-control.me-2{
  height: 60px;
}
.carrusel{
  box-shadow:4px 4px 6px 3px #919192;
-moz-box-shadow:4px 4px 6px 3px #919192;
-webkit-box-shadow:4px 4px 6px 3px #919192;
margin-bottom: 40px;
margin-top: 0px;
padding-top: 0px ;
position: absolute;
z-index: 1;
opacity: 0.7;
}
div.carousel-inner{
  height: 550px;
}
.contenedor-noticias{
  display: flex;
  justify-content: center;
}
.flag {
  position: absolute;
  background: #edf102be;
  top: 60px;
  padding: 6px 6px;
  font-size: 14px;
  color: #333333;
  line-height: 1;
  font-weight: 600;
  z-index: 1;
}

img.card-img-top.img-noticia{
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}
.btn-primary{
  z-index: 2;
}
.sellos{
  height: 195px;
}
.container.sellos{
  background: #afafb6cc;
}
.container> h2{
  color: black;
}
.ilustracion-alcance{
width:30%;
}

.contenedor-body {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3{
  margin-bottom: 15px;
}

.contenido-textos h3 span{
  background: #005AA7;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}
.contenido-textos a{
  text-decoration: none;
  font-size: 22px;
}
.contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
  font-size: 15px;
}
.titulo {
  color: #005AA7;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
  padding-top: 40px;
}

footer{
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #005AA7;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}
.certificacion-45001{
  width: 10%;
}
.certificaciones{
width: 6%;
}
.contenedor-certificaciones{
margin-left: 44%;
}

.card{
  -webkit-transition: 1s linear;
  background: cornsilk;
  transition: 0.2s;
}
/* .card:hover, .hover-galeria{
  background: hsla(76, 81%, 50%, 0.452);
  margin: 5px;
} */
.card-body{
display: flex;
}
.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: rgb(45 22 232 / 70%);
  transition: transform 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.card:hover .hover-galeria{
  transform: scale(1);
}
.sellos-seccion{
  background: #c9d6ff; 
  background: -webkit-linear-gradient(to bottom, #c9d6ff, #e2e2e2); 
  background: linear-gradient(to bottom, #c9d6ff, #e2e2e2); 
  margin-top: 20px;
}
.form-group{
  display: grid;
}
.indicadores{
    background-color: hsl(225, 73%, 57%);
    color: seashell;
    opacity: 1;
    margin: 5px;
}
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .calidad {
    animation: counter 3s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  .calidad::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 100;
    }
  }
 
  .glyphicon.glyphicon-ok-sign , .glyphicon-road, .glyphicon-check, .glyphicon-globe{
    font-size: 100px;
    margin-top: 20px;
    padding: 0px;
    display: block;
    float:right;
  }
  
 
/*Linea de Tiempo*/
.linea{
  border-left: 6px solid #c4c4c7;
  height: 120px;
}
.tab-informativo{
  box-shadow:4px 4px 6px 3px #919192;
-moz-box-shadow:4px 4px 6px 3px #919192;
-webkit-box-shadow:4px 4px 6px 3px #919192;
margin-bottom: 40px;
}
.card-line-time{
  opacity: 1;
  transition: all 1s;
}


/* .card-line-time{
animation-name: card-line-time;
animation-duration: 10s;
animation-direction:alternate;
}

@keyframes card-line-time{
  
from{
margin-right: 100%;
}
to{
margin-left: 0%;
}
} */