header{
  background-color:white;
  box-shadow:4px 7px 11px 2px #000000;
-moz-box-shadow:4px 7px 11px 2px #000000;
-webkit-box-shadow:4px 7px 11px 2px #000000;
  padding: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.icono{
  height: 40px;
}
.glyphicon{
  font-size: 25px;
}
.glyphicon.glyphicon-th-list{
  font-size: 15px;
}


ul.nav{
  float: right;
  padding-right: 0%;
  padding-left: 50%;
}
.footer {
  bottom: 0;
  color: #67757c;
  left: 0px;
  padding: 17px 15px;
  position: absolute;
  right: 0;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  background: #ffffff; }
.linea{
    border-left: 6px solid lightblue;
    height: 120px;
}
.indicadores{
    background-color: hsl(225, 73%, 57%);
    color: seashell;
    opacity: .5;
}
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .calidad {
    animation: counter 3s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    padding: 2rem;
  }
  .calidad::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 100;
    }
  }
 
  .glyphicon.glyphicon-ok-sign , .glyphicon-road, .glyphicon-check, .glyphicon-globe{
    font-size: 100px;
    margin-top: 20px;
    padding: 0px;
    display: block;
    float:right;
  }
  
 
/*Linea de Tiempo*/